* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0c0e0;
    color: #333;
}

header {
    background-color: #e6ceeb;
    color: rgb(221, 140, 221);
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

footer h1{
    text-align: center;
}

.movie-container {
    padding: 20px;
}

.movie-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
    padding: 10px;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.movie-card p {
    margin-top: 5px;
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .movie-row {
        flex-direction: column;
    }

    .movie-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th, .data-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.data-table th {
    background-color: #f799fa;
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #ddd;
}

.data-table td {
    font-size: 16px;
}
